# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.sqlite3
db.sqlite3

# Virtual environment
venv/
ENV/

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Environment variables
# .env

# Static files
/staticfiles/

# Log files
*.log

# Temporary files
*.tmp
*.swp

# Media files
/media/